<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>Add Advert</h1>
      <div class="row">
        <aside class="col-md-4">
          <section class="micropost_form">
            <%= render 'shared/adverts_form' %>
          </section>
        </aside>
      </div>
    </section>
  </aside>
  <div class="col-md-8">
    <div><h3><%= paginate @adverts %></h3></div>
    <% if current_user.adverts.any? %>
      <h3>My Adverts (<%= current_user.adverts.count %>)</h3>
    <% end %>
    <% @adverts.each do |advert| %>
      <ol class="advert">
        <div class="card" style="width: 50rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= link_to advert.user.name %></h5>
            <p class="card-text">Category <%= advert.category %> </p>
            <p class="card-text"><%= advert.content %></p>
            <p class="card-text">Posted at <%= advert.created_at %> .</p>
            <p class="card-text">Status: <%= advert.status %> </p>
            <p> <%= button_to "Edit Advert", edit_advert_path(advert.id),
                              method: :get if policy(advert).update? %></p>
          </div>
        </div>
      </ol>
    <% end %>
    <div><h3><%= paginate @adverts %></h3></div>
  </div>
</div>