<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="navbar-nav navbar-expand-lg   navbar-fixed-top ">
    <a class="navbar-brand" href="home">
    <img src="app/javascript/stylesheets/images/logo.png" width="30" height="30" alt="">
      Myapp
    </a>
      <div class="collapse navbar-collapse justify-content-end"  id="navbarNav">
        <ul class="navbar-nav" >
          <li class="nav-item active">
            <a class="nav-link" href=home>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=help>Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=about>About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
    </div>
  </header>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
